.redifining-section{
    width: 90%;
    margin: 40px auto;
}

.redifine-svg{
    position: absolute;

}
.redifine-svg svg{
    margin-top: 30px;
    height: 490px;
}

.redifining-content{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 20px;
}

.redifining-content p{
    width: 58%;
}

.redifining-img img{
    width: 100%;
    height: 700px;
    background-size: cover;

}

.redifining-inner-cont{
    margin-top: 50px;
}

.redifining-outer-content{
    margin-left: 30px;
}


@media only screen and (min-width: 540px) and (max-width: 1024px) {

    
    .redifining-content{
        display: block;
        margin: 20px auto;
    }

    .redifining-content p{
        width: 100%;
    }

    
    .redifining-inner-cont{
        margin-top: 20px;
    }


    .redifining-img img{
        display: block;
        margin: 40px auto;
        width: 500px;
        height: 500px;
        background-size: contain;
    }


    
}


@media (max-width: 425px){

      
    .redifining-content{
        display: block;
        margin: 20px auto;
    }

    .redifining-content p{
        width: 100%;
    }

    .redifining-inner-cont{
        margin-top: 20px;
    }
    
    .redifining-section h2{
        font-size: 25px;
        line-height: 45px;
    }

    .redifining-img img{
        display: block;
        margin: 30px auto;
        width: 800px; 
        height: 500px;
        background-size: contain;
    }


    .redifining-section{
        padding: 20px;
        margin-top: 30px;
    }

}