.spend-section{
    width: 90%;
    background-color: var(--purple-bg);
    display: block;
    margin: 0px auto;
    border-radius: 23px;
}


.spend-section-content{
    display: flex;
    height: auto;
    width: 100%;
    padding: 80px;
}


.spend-section-text-content{
    width: 80%;

}

.spend-section-image-content{
    width: 60%;

}

.spend-section-image-content img{
    height: 600px;
    object-fit: contain;
    display: block;
    margin: 0px auto;
}

/* 




    
} */

/* 
.spend-section-text-content{
    width: 55%;
    height: auto;
    margin-left: 80px;
    margin-top: 40px;
}

.spend-section-text-content h5{
    padding-top: 20px;
}


.spend-section-image-content{
    width: 60%;
    height: auto;
}

.spend-section-image-content img{
    height: 600px;
    width: 600px;
    object-fit: contain;
    display: block;
    margin: 20px auto 0px auto;
} */




@media only screen and (min-width: 540px) and (max-width: 1024px)  {

   

    .spend-section-content{
        display: block;
        width: 100%;
        height: auto;
        padding: 30px;
    }

    .spend-section-text-content{
        width: 95%;
        margin-left: 20px;
        margin-top: 20px;
    }

    .spend-section-image-content{
        width: 90%;
        height: auto;
    }

    .spend-section-image-content img{
        height: 400px;
        width: 400px;
        object-fit: contain;
        display: block;
        margin: 0px auto;
    }
    
    
  }

  
  
  
  @media (max-width: 425px){

    .spend-section{
        width: 90%;
        display: block;
        margin: 0px auto;
       
    }

    .spend-section-content{
        display: block;
        width: 100%;
        padding: 20px;
    }

    .spend-section-text-content{
        width: 100%;
        margin-top: 20px;
    }
    

    .spend-section-text-content h5{
        font-size: 20px;
    }
    
    .spend-section-image-content{
        width: 90%;
        margin: 20px auto;
    }


    .spend-section-image-content img{
        height: 350px;
        width: 350px;
        object-fit: contain;
        display: block;
        margin: 0px auto;
    }
    
  
  }